* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*esse asterisco modifica todos os elementos, chamamos ele de reset - mantemos o primeiro no css*/

body > header { /*aqui estamos dizendo para usar o filho direto do body, ou seja a header que vem logo após a body e não as de título das imagens nos artigos*/
    background-color: #2f3640;
    padding: 16px 0;
    color: aliceblue;  
    text-align: center;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    padding: 30px 0 30px 20px;
    line-height: 10px;
}

section article {
    padding-left: 5px;
    padding-right: 5px;
}

header li, header ul {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    padding: 10px; 
}

header li a{
    color: white;
    text-decoration: none;
}

header a:hover{
    color: rgb(231, 164, 39);
    text-decoration: none;
}

.container{
    margin: 0 auto; /*ou só 0 auto*/
}

.articles{
    display: flex;
    flex-wrap: wrap; /*pula uma linha ao invés de ficar na mesma*/
    justify-content: space-between; /*distribui espaços iguais entre os itens*/

}

.articles article img{
    width: 100%;/*ou height: 180px; quando limitamos a altura, a largura se adequa pra manter a proporção e vice e versa*/
}

.articles article{
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2, .articles article{
    margin-bottom: 16px;
}

.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a{
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover{/*para chamar um estado do elemento, coloca dois pontos e o estado do elemento, nesse caso o hover*/
    text-decoration: underline;
}

.articles article p, .articles article a{
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 24px;
}

section h2{
    font-size: 32px;
}

#sports{
    background-color: rgba(0, 255, 0, 0.1);
}

#sports .articles article a{
    background-color: #009432;
}

#economy{
    background-color: #f8f5a2;
}

#economy .articles article a{
    background-color: #ff9f1a;
}

#entertainment{
    background-color: rgba(243, 114, 136, 0.1);
}

#entertainment .articles article a{
    background-color: #c5659a;
}

#technology{
    background-color: #5febdf;
}

#technology .articles article a{
    background-color: #6a8ba5;
}

